* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 1rem;
  background-image: url(../images/bg-image.svg);
  background-size: cover;
  color: #ffffff;
  min-height: 100vh;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  width: 90%;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.contact-heading {
  max-width: 780px;
  margin: 0 auto;
  text-align: center;
}

.title {
  font-size: 4rem;
  margin-bottom: 0;
}

.subtitle {
  font-size: 2rem;
}

.contact-form {
  max-width: 800px;
  margin: 0 auto 3rem auto;
}

.name-field,
.email-field,
.company-size-field,
.subject-field {
  width: 49%;
}

.name-field {
  margin-bottom: 1em;
}

label {
  font-size: 0.875rem;
}

input,
#company-size,
#subject {
  padding: 1.5em 1em;
}

input,
#company-size,
#subject,
#message,
.btn-primary {
  width: 100%;
  font: inherit;
  border: none;
  border-radius: 10px;
  color: #111729;
}

input::placeholder {
  color: #CDD5E0;
}

#name,
#company-email,
#company-size,
#subject,
#message {
  font-weight: bold;
}

#message {
  padding: 1em;
  margin-bottom: 1em;
}

.btn {
  display: inline-block;
  font-size: 1.25rem;
  font-family: inherit;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: #4036A9 ;
  color: #fff;
}

.btn-primary {
  border: none;
  background-color: #fff;
  color: #4036A9;
  font-weight: 900;
  padding: 1.3em 0;
}

@media (max-width: 1024px) {
  .contact-heading {
    max-width: 500px;
  }

  .title {
    font-size: 2.5rem;
    margin-bottom: 0;
  }
  
  .subtitle {
    font-size: 1.3rem;
  }
}

@media (max-width: 640px) {
  .wrapper {
    flex-direction: column;
  }

  .name-field,
  .email-field,
  .company-size-field,
  .subject-field {
    width: 100%;
  }

  .email-field,
  .company-size-field,
  .subject-field {
    margin-bottom: 1em;
  }
}

@media (max-width: 420px) {
  .title {
    font-size: 2rem;
    margin-bottom: 0;
  }
  
  .subtitle {
    font-size: 1.2rem;
  }
}